<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/css/shared/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/content.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/logo.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/navigation-bar.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/flex.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/admin-content.css">
    
    <script src="/public/scripts/admin/tickets-to-buy.js" defer></script>
    <script src="/public/scripts/admin/navigation-bar.js" defer></script>
    <script src="/public/scripts/shared/logo.js" defer></script>

    <title>Tickets</title>
</head>

<body>
    <div id="content" class="flex-column-center-center">
        <div id="add-content">
            <form class="tickets-to-buy-form" action="/admin/tickets" method="POST">
                <label for="provider">Provider:</label>
                <select id="provider" name="provider" required>
                    <option value="">Select</option>
                </select>


                <label for="location">Location:</label>
                <select id="location" name="location" required>
                    <option value="">Select</option>
                </select>
            
                <label for="transport-type">Transport Type:</label>
                <select id="transport-type" name="transport-type" required>
                    <option value="">Select</option>
                </select>
            
                <label for="ticket-type">Ticket Type:</label>
                <select id="ticket-type" name="ticket-type" required>
                    <option value="">Select</option>
                </select>
            
                <button type="submit">Add</button>
            </form>
        </div>
        <div id="display-content">
            <?php foreach($items as $item): ?>
                <div class="ticket-to-buy">
                    <span><?= $item->getTicketToBuyId(); ?></span>
                    <span><?= $item->getProviderName(); ?></span>
                    <span><?= $item->getLocationName(); ?></span>
                    <span><?= $item->getTransportTypeName(); ?></span>
                    <span><?= $item->getTicketTypeName(); ?></span>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</body>

</html>