<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link rel="stylesheet" type="text/css" href="public/css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="public/scripts/mobile-nav.js" defer></script>
    <title><?= $title; ?></title>
</head>

<body>
    <?php include_once __DIR__ . '/shared/nav.html' ?>

    <div class="container flex-row-center-center">
        <div class="sidebar">
            <input type="text" name="title" placeholder="title">
        </div>
        <div class="main">
            <h1>ADD PROJECT</h1>

            <div class="projects flex-row-center-center">
                <form action="/project" method="POST" class="flex-column-center-center">
                    <input type="text" name="title" placeholder="title">
                    <textarea type="text" name="description" placeholder="description"></textarea>
                    <input type="text" name="photoUrl" placeholder="photo url">
                    <button type="submit">SIGN IN</button>
                </form>

            </div>
        </div>

    </div>
</body>

</html>