<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/css/shared/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/content.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/logo.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/navigation-bar.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/ticket.css">
    
    <script src="/public/scripts/user/navigation-bar.js" defer></script>
    <script src="/public/scripts/shared/logo.js" defer></script>

    
    <title>Available</title>
</head>

<body>
    <div id="content">
        <div class="tickets">
            <?php foreach($items as $item): ?>
                <div class="ticket">
                    <h3><?= $item->getLocationId(); ?></h3>
                    <p><?= $item->getProviderId(); ?></p>
                    <p><?= $item->getTransportTypeId(); ?></p>
                    <p><?= $item->getTicketTypeId(); ?></p>
                    <p><?= $item->getPurchaseTime(); ?></p>
                    <p><?= $item->getExpiryTime(); ?></p>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</body>

</html>