<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/css/shared/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/content.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/logo.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/navigation-bar.css">
    
    <script src="/public/scripts/user/screens/navigation-bar.js" defer></script>
    <script src="/public/scripts/shared/logo.js" defer></script>

    
    <title>Available</title>
</head>

<body>
    <div class="content">
        <p>Available</p>
    </div>
</body>

</html>