<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/css/shared/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/content.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/logo.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/navigation-bar.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/flex.css">
    
    <script src="/public/scripts/user/navigation-bar.js" defer></script>
    <script src="/public/scripts/shared/logo.js" defer></script>

    <script src="/public/scripts/user/tickets-to-buy.js" defer></script>

    <title>Buy</title>
</head>

<body>
    <style>
        
    </style>
    <div id="content">
        <form class="ticket-form flex-column-center-center" action="/user/buy" method="POST">
            <label for="provider">Provider:</label>
            <select id="provider" name="provider" required>
                <option value="">Select</option>
            </select>


            <label for="location">Location:</label>
            <select id="location" name="location" required>
                <option value="">Select</option>
            </select>
    
            <label for="transport-type">Transport Type:</label>
            <select id="transport-type" name="transport-type" required>
                <option value="">Select</option>
            </select>
    
            <label for="ticket-type">Ticket Type:</label>
            <select id="ticket-type" name="ticket-type" required>
                <option value="">Select</option>
            </select>
    
            <button type="submit">Buy Ticket</button>
        </form>
    </div>
</body>

</html>