<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/css/shared/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/content.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/logo.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/navigation-bar.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/flex.css">
    
    <script src="/public/scripts/user/navigation-bar.js" defer></script>
    <script src="/public/scripts/shared/logo.js" defer></script>

    <title>Buy</title>
</head>

<body>
    <style>
        
    </style>
    <div id="content">
        <form class="ticket-form flex-column-center-center" action="/submit-ticket" method="POST">
            <label for="provider">Provider:</label>
            <input type="text" id="provider" name="provider" placeholder="Enter provider name" required>
    
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" placeholder="Enter location" required>
    
            <label for="transport-type">Transport Type:</label>
            <select id="transport-type" name="transport-type" required>
                <option value="bus">Bus</option>
                <option value="subway">Subway</option>
                <option value="train">Train</option>
                <option value="tram">Tram</option>
            </select>
    
            <label for="ticket-type">Ticket Type:</label>
            <select id="ticket-type" name="ticket-type" required>
                <option value="20-mins">20 mins</option>
                <option value="1-hour">1 hour</option>
                <option value="day-pass">Day Pass</option>
                <option value="week-pass">Week Pass</option>
            </select>
    
            <button type="submit">Buy Ticket</button>
        </form>
    </div>
</body>

</html>