<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/css/shared/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/content.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/logo.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/navigation-bar.css">
    <link rel="stylesheet" type="text/css" href="/public/css/shared/ticket.css">
    
    <script src="/public/scripts/user/navigation-bar.js" defer></script>
    <script src="/public/scripts/shared/logo.js" defer></script>
    <script src="/public/scripts/user/favourites.js" defer></script>

    
    <title>Favourites</title>
</head>

<body>
    <div id="content">
        <div class="tickets favourites">
            <div class="ticket">
                <h3>Warsaw</h3>
                <p>moBiLET</p>
                <p>Subway</p>
                <p>20 mins</p>
                <p>2024-08-31 12:00:00</p>
            </div>
            <div class="ticket">
                <h3>Cracow</h3>
                <p>moBiLET</p>
                <p>Bus</p>
                <p>Day Pass</p>
                <p>2024-09-05 15:00:00</p>
            </div>
        </div>
    </div>
</body>

</html>