body div#navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    width: 5%;
}

body div#navbar p.icon {
    width: 100%;
    text-align: center;
    background-color: yellow;
}